extends ../layout/layout.pug

block content

  table.header
    tr
      td
        table
          tr
            td.column
              center
                +spacer(15)
                  newsletter title
                +spacer(20)
            td.column
              table
                tr
                  td
                    p.header-date 01 Janv1970
              +spacer(5)
