////
/// Dimensions
///
/// @group Settings
///
////

/// Max size of the page
$max-width: 700px;
$page-padding: 55px;
$page-gutter: 30px;

/// Media query conditions
/// Usage
/// @media screen and #{$media-small} {  }
$media-small: '(max-width: #{$max-width})';
