////
/// Fonts
///
/// @group Settings
///
////


/// Font fomily
$font: 'Trebuchet MS',Helvetica,Arial,sans-serif;

/// Fonts weight
/// They must reflect avalaible weights
$fw-regular: normal;
$fw-bold: bold;
