////
/// Reset styles
/// Ease cross browser styling
///
/// @group Generic
///
////

html { line-height: 1.3; }
body {
  Margin: 0; margin: 0; padding: 0;
  /// Improve font rendering
  -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
}

// Links & buttons
a img { border: none; }

// Images
img { max-width: 100%; height: auto;}

// Separator
hr { border: none; height: 1px; background-color: $black; }
